/*%#+++++ HTML ELEMENTS +++++#%*/
body {
    background-color: #223b61;
    overflow-x: hidden;
}
table {
    max-height:99%; 
    max-width:100%
}
img {
    max-height:100%; 
    max-width:100%
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*%#+++++ CLASSES +++++++++++#%*/
.swpc {
    position: relative;
    left: 0px;
}
.wx_pollen {
    position: relative;
    left: 0px;
}
/*%#+++++ OBJ IDs +++++++++++#%*/
#column1 {
    width: 50%;
}
#column2 {
    width: 50%;
}
#clock {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 200px;
}
