/*%#+++++ HTML ELEMENTS +++++#%*/
body {
    background-color: #223b61;
    overflow-x: hidden;
}
table {
    margin: auto;
    width: 100%;
    max-height:100%;
    max-width:100%; 
}
img {
    vertical-align: top;
}
p {
    vertical-align: text-top;
}
td {
    height: 100%;
}
/*%#+++++ CLASSES +++++++++++#%*/
.centerify-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centerify-text {
    text-align: center;
}
/*%#+++++ OBJ IDs +++++++++++#%*/
#column1 {
    width: 50%;
}
#column2 {
    width: 50%;
}
#clock {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 200px;
}
#fin-buffet {
    width: 450px;
}
#wiki-width {
    width: 300px;
}
#wx-map {
    height: 270px;
}
